$mbl_photo: url("./pictures/rick_and_morty_Mbl.jpg");
$td_photo: url("./pictures/rick_and_morty_TD.jpg");
$bg_color: rgba(12, 250, 10, .2) ;
$txt_color: red ;

body {
    background: $td_photo fixed no-repeat center;
    font-size: 1.2rem;
}
h1 {
    color: $txt_color;
}