#md-filter_btn {
    text-align: right;
    color: black;
    font-size: 2rem;
    background: transparent;
    border: 1px solid transparent;
}

#xl-filter,
#lg-filter,
#collapsableFilter {
    height: 300px;
}